*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #FFE6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}
img{
    width: 100%;
    
}
.background-image{
    flex: 1;
    height: 100%;
    width: 50%;
    /* background-image: url("/img/phone.jpg"); */

}
.form-action{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
   
}
.form-action form>.action-control{
    width: 90%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border-radius: 5px;
     
}
.form-action form .action-control>input{
    width: 90%;
    padding: 10px;
    border: none;
}
.form-action form .label{
    width: 90%;
}
.form-action form .action-control>i{
    font-size: 20px;
}
.form-action form .action-control>button{
    width: 100%;
    padding: 10px;
    background-color:  #F47C7C;
    border: none;
    border-radius: 5px;

}
h3{
    color: #F47C7C;
}
#btn{
    color: blue;
}
.form-action form .btn{
  border: none;  
}
.forget-password{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 20px;
    color: #F47C7C;
}
#google-btn{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}
#google-btn i{
    margin-right: 5px;
}
#facebook-btn{
    background-color:blue;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
}
#facebook-btn i{
    margin-right: 5px;
}
.alert{
    width: 50%;
    margin: 2px auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger{
    background-color: red;
}

.alert-success{
    background-color: green;
}
@media (max-width:520px ) {
.container{
    width: 100%;
    height: 70%
}    
.google-facebook-signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#google-btn{
    margin-bottom: 5px;
}
#facebook-btn{
    margin-bottom: 5px;
}
h3{
    text-align: center;
}
}